@page "/"
@using AntDesign

<div>
    <image src=1.png id=1></image>
    </div>
<div>
    <image src=2.png id=1></image>
</div>
<div>
    <image src=3.png id=1></image>
</div>
<div>
    <image src=4.png id=1></image>
</div>
<h1 class="h6">안녕하세여 행님</h1>
<Button Type="primary">Hello World!</Button>
