@if (isLoaded)
{
    @ChildContent
}
else
{   
    <div>로오오드...</div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(4000); // TODO actual initialization job
        isLoaded = true;
    }
}